<div class="container">
  <h1><%= @list.name %></h1>
    <% @list.movies.each do |movie| %>
      <li>
      <%= movie.title %>
      </li>
    <% end %>

    <% @list.bookmarks.each do |bookmark| %>
      <li>
      <%= bookmark.movie.title %><%= link_to "x", bookmark_path(bookmark), :method => :delete, :class => "mt-4 btn btn-secondary" %>
      </li>
    <% end %>
  <%= link_to "Add a film", new_list_bookmark_path(@list), :class => "mt-4 btn btn-secondary" %>
  <%= link_to "Back to list", lists_path, :class => "mt-4 btn btn-secondary" %>
</div>
