<div class="container">
  <h1>Add new film</h1>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie  %>
    <%= f.input :comment %>
    <%= f.submit %>
  <% end %>
  <%= link_to "Back to list", list_path(@list), :class => "mt-4 btn btn-secondary" %>
</div>
